.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;

}

.logo{

    width: 155px;
}

.nav-items{
    font-size: 18px;
    padding: 10px 20px;
}

.nav-items >ul{

    display: flex;
    list-style-type: none;
}

.nav-items>ul>li{
    padding: 20px;
    margin: 10px;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.res-card{
    margin: 10px;
    padding:5px;
    width: 200px;
  
     

}


.res-card:hover{
    cursor: pointer;
    border: 2px solid black

}

.res-logo{
   
    width: 100%;


}


.search{
    padding: 10px;
}


.filter-btn{

    margin: 10px;
    cursor: pointer;
    
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.shimmer-cards{


    margin: 20px;
    width: 200px;
    height: 600px;
    background-color: #f0f0f0;
    
}


.login-button {
    padding: 0 20px;
    cursor: pointer;

}

.Filter{
    display: flex;
}


